body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f8f8; /* Cambia el color de fondo del cuerpo */
}

.container {
    max-width: 800px;
    width: 90%;
}

#d1 {
    background-color: #3498db; /* Cambia el color de fondo de la alerta */
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    animation: fadeIn 0.5s ease; /* Agrega animación de entrada */
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.peruvian-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #2ecc71; /* Cambia el color de fondo de los botones */
    color: white;
    margin: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    animation: pulse 1s infinite; /* Agrega animación de pulso */
}

.peruvian-button:hover {
    background-color: #27ae60; /* Cambia el color al pasar el ratón */
}

@media screen and (max-width: 600px) {
    #d1 {
        padding: 10px;
    }

    .peruvian-button {
        width: 100%;
    }
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
